<!DOCTYPE html>
<html data-ng-app="cookieCardApp">
	<head>
		<meta charset="ISO-8859-1">
		<title>Cookies!</title>
		<link href="Ui/CSS/stylesheet.css" rel="stylesheet" type="text/css">
		
		<script src="Scripts/angular.min.js"></script>
		
		<script src="App/app.js"></script>
		<script src="App/Factories/MainControllerFactory.js"></script>
		<script src="App/Controllers/MainController.js"></script>
	</head>
	<body >
	<div id="container">
		<div id ="header">
			<div id="inputBlock" data-ng-controller="MainController">
				<h1 id="title">Cookies!</h1>
				<input class="inputInputBlock" type="text" data-ng-model="newCookie.name"/>
				<input class="inputInputBlock" type="text" data-ng-model="newCookie.url"/>
				<button id="addButton" data-ng-click="addCookie()">Add</button>
			</div>
			<div id="imageBlock">
				<img id="imageImageBlock" src="Ui/Images/logo.gif" height="200" width="300">
			</div>
		</div>
		<div id="content" >
			<!-- View Placeholder -->
			<div data-ng-view></div>
			<!------------------------->
		</div>
	</div>
	</body>
</html>